@keyframes animScreamerBox
	from
		opacity: 0
		transform: scale3d(0.95, 0.95, 0.95)
	to
		opacity: 1
		transform: scale3d(1, 1, 1)
@keyframes animScreamerOverlay
	from
		opacity: 0
	to
		opacity: 1
.screamer
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	text-align center
	background-color rgba(#000,.7)
	animation animScreamerOverlay 0.3s 1 alternate
	&:before
		content ''
		display inline-block
		height 100%
		vertical-align middle
	.screamer-box-wrapper
		text-align left
		display inline-block
		.screamer-box
			margin 0 auto
			width 280px
			background-color #fff
			animation animScreamerBox 0.3s 1 alternate
			.screamer-box-title
				padding 10px
				color #000
				background-color #ddd
			.screamer-box-main
				padding 10px
				background-color #fff
				.screamer-box-message
					font-size 1em
				.screamer-box-buttons
					padding-top 10px
					text-align right
					.screamer-box-button
						padding 5px 10px
						cursor pointer
						display inline-block
						font-size 1em
						color #000
						background-color #ddd