color_blue = #2980b9
color_green = #27ae60
color_orange = #d35400
color_red = #c0392b

.screamer
	&.screamer-blue,
	&.screamer-green,
	&.screamer-orange,
	&.screamer-red
		.screamer-box,
		.screamer-box-main,
		.screamer-box-button
			border-radius 6px
		.screamer-box
			padding 6px
		.screamer-box-title,
		.screamer-box-button
			color #fff
.screamer-blue
	.screamer-box,
	.screamer-box-title,
	.screamer-box-button
		background-color color_blue
.screamer-green
	.screamer-box,
	.screamer-box-title,
	.screamer-box-button
		background-color color_green
.screamer-orange
	.screamer-box,
	.screamer-box-title,
	.screamer-box-button
		background-color color_orange
.screamer-red
	.screamer-box,
	.screamer-box-title,
	.screamer-box-button
		background-color color_red
